.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 auto;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.nav-bar * {
  color: black;
  font-weight: bold;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links > a {
  margin: 0 10px;
  padding: 5px;
}

@media (min-width: 600px) {
  .nav-bar {
    width: 60%;
  }
}
